<p>
  <strong>Title:</strong>
  <%= @post %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post %>
</p>

<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @post.each do |post| %>
    <tr>
      <td><%= post %></td>
      <td><%= post %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>


 <%= link_to 'Back', posts_path %>

 <%= link_to 'Edit', edit_post_path(@post) %>
